.promo {
  background: #073042 url(../../images/svg/promo-logo.svg) no-repeat;
  background-position: top;
  background-size: 210px 206px;
  padding: calc(206px + 44px) calc(18 * 100vw / 320) 0;
}

.promo__container {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  margin: 0;
}

.promo__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffffff;

  margin: 0 0 24px;
  padding: 0;
}

.promo__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;

  margin: 0 0 80px;
  padding: 0;
  max-width: 260px;
}

.promo__button {
  background: transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  width: 129px;
  height: 36px;
  transition: opacity 0.2s ease;
  margin: 0 0 30px;
  padding: 0;

  border: 1px solid hsla(0, 0%, 100%, 0.6);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
}
.promo__button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .promo {
    background-size: 310px 304px;
    padding: calc(304px + 48px) calc(18 * 100vw / 320) 0;
  }

  .promo__title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
    max-width: 900px;
  }

  .promo__subtitle {
    margin: 0 0 92px;
  }

  .promo__button {
    margin: 0 0 76px;
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    padding: 0 calc(70 * 100vw / 1280);
    background-position: right 70px top;
  }

  .promo__container {
    width: 640px;
    justify-items: flex-start;
    grid-template: auto auto 1fr / 1fr;
  }

  .promo__title {
    font-size: 50px;
    line-height: 58px;
    text-align: left;
    margin: 0 0 36px;
  }

  .promo__subtitle {
    max-width: 310px;
    text-align: left;
    margin: 0 0 146px;
  }

  .promo__button {
    margin: 0 0 75px;
  }
}
