@import url(../../vendor/normalize.css);
@import url(../../fonts/fonts.css);

* {
  border: 1px red solid;
}

.body {
  background-color: #202020;
  color: #ffffff;
  min-height: 100vh;
}

.page {
  display: grid;
  grid-template: repeat(7, auto) 1fr / 1fr;
  justify-content: center;
  align-content: flex-start;
  min-height: 100vh;
}
