.navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* position: relative; */
  background: rgba(255, 0, 0, 0.363);
}

.navigation__container {
  display: grid;
  /* grid-template: auto 1fr / 1fr; */
  align-content: space-between;
  justify-items: center;

  min-height: 100%;
  align-items: flex-end;
  background: #202020;
}

.navigation__close-button {
  position: absolute;
  right: -25px;
  top: -25px;

  background: url(../../images/svg/close-button-X.svg) transparent;
  width: 22px;
  height: 22px;
  background-size: cover;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.popup__close-button:hover {
  opacity: 0.6;
}

.navigation__link-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;

  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation__account-button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.navigation__account-button__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  margin: 0 17px 0 0;
  padding: 0;
}

.navigation__account-button__logo {
  background: #313131 url(../../images/svg/navigation-account-logo.png)
    no-repeat;
  background-position: center;
  width: 26px;
  height: 30px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
}
