.about-project {
  margin: 0;
  padding: 70px calc(18 * 100vw / 320) 140px;
}

.about-project__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0 0 60px;
  padding: 0 0 28px;
  border-bottom: 1px solid #dadada;
}

.about-project__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0;
  padding: 0;
}

.about-project__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;

  margin: 16px 0 0;
  padding: 0;
}
.about-project__text:first-of-type {
  margin: 16px 0 56px;
}

.about-project__duration {
  display: grid;
  grid-template: 35px auto / 100fr 184fr;
  justify-content: center;
  row-gap: 10px;
  margin: 60px 0 0;
}

.about-project__duration__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #a0a0a0;

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-project__duration__text_bgc_green {
  background-color: #3ddc84;
  color: #000000;
}
.about-project__duration__text_bgc_grey {
  background-color: #303030;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .about-project {
    padding: 90px calc(50 * 100vw / 768) 185px;
  }

  .about-project__title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 23px;
    margin: 0 0 70px;
  }

  .about-project__container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 15px 30px;
  }

  .about-project__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .about-project__subtitle:last-of-type {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .about-project__text {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__text:first-of-type {
    margin: 0;
  }

  .about-project__duration {
    margin: 93px 0 0;
    grid-template: 35px auto / 140fr 528fr;
  }

  .about-project__duration__text {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project {
    padding: 110px calc(70 * 100vw / 1280) 210px;
  }

  .about-project__container {
    grid-gap: 15px 40px;
  }

  .about-project__duration {
    margin: 110px 0 0;
    grid-template: 35px auto / 228fr 912fr;
    grid-row-gap: 14px;
  }
}
