.techs {
  margin: 0;
  padding: 0 calc(18 * 100vw / 320) 140px;
}

.techs__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0 0 60px;
  padding: 0 0 28px;
  border-bottom: 1px solid #dadada;
}

.techs__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0 0 24px;
  padding: 0;
}

.techs__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0 auto 50px;
  padding: 0;
  max-width: 460px;
}

.techs__grid-container {
  display: grid;
  grid-template: auto / repeat(auto-fit, 84px);
  grid-gap: 10px;
  justify-content: center;
  padding: 0 7px;
}

.techs__grid-container__item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0;
  padding: 0;
  width: 84px;
  height: 57px;
  background: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .techs {
    padding: 0 calc(18 * 100vw / 320) 180px;
  }

  .techs__title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 23px;
    margin: 0 0 80px;
    letter-spacing: 0;
  }

  .techs__subtitle {
    font-size: 50px;
    line-height: 58px;
    margin: 0 0 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 83px;
  }
}
