.login {
  margin: 0;
  padding: 0 calc(30 * 100vw / 320) 0;
  display: grid;
  grid-template: repeat(3, auto) 1fr / 1fr;
  justify-items: center;
  align-content: flex-start;
  min-height: 100vh;
}

.login__logo__wrapper {
  margin: 56px auto 50px;
}

.login__logo-hover {
  display: block;
  transition: opacity 0.2s ease;
}
.login__logo-hover:hover {
  opacity: 0.6;
  cursor: pointer;
}

.login__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;

  padding: 0;
  margin: 0 0 80px;
}

.login__form {
  display: grid;
  align-content: start;
  width: 100%;
  max-width: 396px;
  margin: 0 0 14px;
}

.login__input-name {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;

  margin: 0 0 5px;
  padding: 0;
}

.login__input {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  width: 100%;
  background-color: transparent;
  margin: 0 0 6px;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid #424242;
}

.login__input-error {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;

  margin: 0 0 24px;
  padding: 0;
}

.login__button-submit {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;

  margin: 0;
  padding: 0;
  align-self: flex-end;
  background: #4285f4;
  border: none;
  border-radius: 3px;
  height: 45px;
  transition: opacity 0.2s ease;
}
.login__button-submit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.login__container {
  align-self: flex-end;
  display: flex;
  padding: 0 0 30px;
}

.login__subtitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #8b8b8b;

  margin: 0 7px 0 0;
  padding: 0;
}

.login__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #4285f4;

  text-decoration: none;
  margin: 0;
  padding: 0;
  height: fit-content;
  transition: opacity 0.2s ease;
}
.login__link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .login {
    padding: 0 calc(186 * 100vw / 768) 0;
  }

  .login__logo__wrapper {
    margin: 232px 0 40px;
    justify-self: start;
  }

  .login__title {
    justify-self: flex-start;
    margin: 0 0 40px;
  }

  .login__form {
    max-width: 100%;
    margin: 0 0 16px;
  }

  .login__button-submit {
    font-size: 14px;
    line-height: 17px;
    max-width: 396px;
    margin: 0 auto;
    width: 100%;
  }

  .login__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .login__link {
    font-size: 14px;
    line-height: 17px;
  }
}
