.about-me {
  margin: 0;
  padding: 0 calc(14 * 100vw / 320) 70px;
  display: grid;
}

.about-me__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0 0 60px;
  padding: 0 0 28px;
  border-bottom: 1px solid #dadada;
}

.about-me__container {
  display: grid;
}

.about-me__avatar {
  border-radius: 10px;
  object-position: center;
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 450px;
  justify-self: center;
  margin: 0 0 40px;
}

.about-me__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin: 0 0 20px;
  padding: 0;
}

.about-me__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;

  margin: 0;
  padding: 0;
}
.about-me__text_inter-medium {
  font-weight: 500;
  margin: 0 0 20px;
}

.about-me__list {
  display: flex;
  margin: 40px 0 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.about-me__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  text-decoration: none;
  margin: 0 26px 0 0;
  padding: 0;
  display: block;
  transition: opacity 0.2s ease;
}
.about-me__link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding: 0 calc(50 * 100vw / 768) 95px;
  }

  .about-me__title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 23px;
  }

  .about-me__container {
    grid-template: auto / 1fr auto;
  }

  .about-me__avatar {
    grid-column: 2/3;
    margin: 0;
    max-width: 307px;
  }

  .about-me__container__item {
    grid-row: 1/2;
    display: grid;
    align-content: flex-start;
    grid-template: repeat(3, auto) 1fr / 1fr;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
    margin: 5px 0 18px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__nav {
    align-self: flex-end;
  }

  .about-me__list {
    margin: 0;
  }

  .about-me__link {
    margin: 0 20px 0 0;
  }
}
